.controls {
    background-color: white;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ddd;
}
.controls div {
    margin-bottom: 10px;
}
.controls>.reset-control {
    padding: 5px;
    margin: 0 5px;
    color: white;
    background: #333;
    border-radius: 3px;   
}
.controls>.reset-control:active {
    background: #333;
    opacity: 0.5;
}
.slider-control-row {
    position: relative;
    height: 30px;
    line-height: 30px;
}
.slider-control-row>.label {
    position: absolute;
    width: 120px;
    left: 0;
    text-align: right;
}
.slider-control-row>input {
    position: absolute;
    left: 125px;
    width: 230px;
}
.slider-control-row>.output {
    position: absolute;
    right: 0px;
    width: 40px;
}

.controls .slider {
    display: inline-block;
    position: absolute;
    left: 155px;
    width: 210px;
    height: 30px;
}

.controls .slider>.slider-min-label {
    left: -30px;
    text-align: right;
}
.controls .slider>.slider-max-label {
    right: -30px;
    text-align: left;
}

.controls .slider>.label {
    position: absolute;
    width: 30px;
    height: 30px;
    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
    opacity: 0;
}
.controls .slider.active>.label {
    opacity: 1;
}

.controls .slider::before {
    display: block;
    content: ' ';

    position: absolute;
    width: 180px;
    left: 15px;
    top: 12px;
    height: 6px;

    border-radius: 3px;
    background-color: #dedede;
}
.controls .slider>.thumb {
    position: absolute;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    border-radius: 1em;
    background: #de4c4f;
    color: white;
    will-change: transform;
    -webkit-transform: translateZ(0);
}
.controls .slider>.thumb>.value-bg {
    will-change: transform, opacity;
    pointer-events: none;
    position: absolute;
    left: -1em;
    width: 4em;
    height:2em;
    -webkit-transform: scale(0.6) translateZ(0);
    transform: scale(0.6);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-transition: -webkit-transform 200ms, opacity 100ms 50ms;
    transition: transform 200ms, opacity 100ms 50ms;
}
.controls .slider>.thumb>.value {
    will-change: transform;
    pointer-events: none;
    position: absolute;
    left: -1em;
    width: 4em;
    height: 2em;
    -webkit-transform: scale(0.6) translateZ(0);
    transform: scale(0.6);
    text-align: center;

    -webkit-transition: -webkit-transform 200ms;
    transition: transform 200ms;
}
.controls .slider.active>.thumb>.value {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px) translateZ(0);
}
.controls .slider.active>.thumb>.value-bg {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px) translateZ(0);
    opacity: 1;
}
